<settings>
	<servers>
		<server>
			<id>ossrh</id>
			<username>${OSSRH_USERNAME}</username>
			<password>${OSSRH_PASSWORD}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>ossrh</id>
			<properties>
				<gpg.executable>gpg2</gpg.executable>
				<gpg.passphrase>${OSSRH_GPG_SECRET_KEY_PASSWORD}</gpg.passphrase>
			</properties>
		</profile>
	</profiles>
</settings>
